USE [master]
GO
/****** Object:  Database [TimDuong]    Script Date: 23/4/2019 8:49:39 PM ******/
CREATE DATABASE [TimDuong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimDuong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TimDuong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimDuong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TimDuong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimDuong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimDuong]
GO
USE [TimDuong]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 23/4/2019 8:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[ma] [int] IDENTITY(1,1) NOT NULL,
	[tenphong] [nvarchar](100) NOT NULL,
	[chidan] [nvarchar](500) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([ma], [tenphong], [chidan]) VALUES (1, N'A101', N'Đi vào khu A, lầu 1, phòng số 1')
INSERT [dbo].[Phong] ([ma], [tenphong], [chidan]) VALUES (2, N'B101', N'Đi vào khu B, lầu 1, phòng 1')
INSERT [dbo].[Phong] ([ma], [tenphong], [chidan]) VALUES (5, N'C101', N'Đi vào khu C, lầu 1, phòng 1')
SET IDENTITY_INSERT [dbo].[Phong] OFF
/****** Object:  StoredProcedure [dbo].[Tim]    Script Date: 23/4/2019 8:49:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Tim](@tuKhoa nvarchar(100))
as
begin
	declare @result nvarchar(500)
	set @result = (select Phong.chidan
						from Phong
						where Phong.tenphong = @tuKhoa)
	select @result
end
GO
USE [master]
GO
